/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#app {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

#app h1 {
    padding-top: 30px;
    font-size: 64pt;
    text-align: center;
    font-weight: bold;
}

#app .grid-buttons {
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 175px 175px;
}

.grid-buttons .btn-main {
    display: flex;
    margin: 5px;
    border-radius: 10px !important;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-main > i {
    font-size: 48pt;
}

/************** START OF TOOLBAR STYLES **************/
.toolbar {
    display: flex;
    width: 100%;
    min-height: 65px;

    justify-content: space-between;
    align-items: center;
    color: white;
}

.toolbar .toolbar-title .toolbar-btn {
    margin-left: 5px;
    color: white;
}

.toolbar .toolbar-title > h2 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 18pt;
}

.toolbar .toolbar-options {
    min-width: 50px;
}
/************** END OF TOOLBAR STYLES **************/

/************** START OF SECTION STYLES ****************/
#app .view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.view .section {
    margin: 30px 55px 0;
}

.section .section-row {
    display: flex;
    align-items: baseline;
}

.section .section-row.buttons {
    margin: 15px 0;
    justify-content: space-around;
}

.section-row.buttons button {
    width: 75px;
    height: 75px;
    border-radius: 10px !important;
}

.section .section-row > h3 {
    font-size: 18pt;
}
/************** END OF SECTION STYLES   ****************/

.watch-sectors .section .sector-cars {
    margin-left: 10px;
}

.measure-time .section-row.buttons button {
    display: flex;
    min-width: 100px;
    min-height: 100px;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}